/.idea/
/target/
/out/
*.iml
.classpath
.project
/bin/
/WebRoot/WEB-INF/classes
/.myeclipse/

log
lastupdate.tmp
/dist/
/http/http-client.env.json

/vendor/
.DS_Store
.vscode/
__debug_bin

cmd/d-hosts-setter/dist
cmd/d-hosts-getter/dist